<!-- <h1>{{username}}</h1>
<input type="text" [(ngModel)]="username">

<button (click)="handle()">click</button> -->

<!-- <app-new></app-new> -->

<!-- <h1>Hello World</h1>

<h2>The Title of the component is {{ title }}</h2>

<img [src]="imageSource" alt="" [width]="300">

<button (click) = 'handleClick()'>click to change</button>


<h3 [class.example] = "isExample" [style.backgroundColor]="'blue'">Class using binding</h3>




<h5>{{username}}</h5>

<input type="text" [value]="username" [(ngModel)] = 'username'> -->
<app-directives></app-directives> 